

{% load static %}

<h1>This is home </h1>



{% if user.is_authenticated %}


<form method = "POST" action = "{% url 'logout' %}">
	{% csrf_token %}
	<input class = "dropdown-item" type = "submit" value = "Logout">
</form>	

        <li><a href="{% url 'main2' %}">to main</a></li>

{% else %}


<a href="{% url 'main2' %}">to main</a>

<form method = "POST" action = "{% url 'login' %}">
{% csrf_token %}

	Username: 
	<br>
	<input name = "username" type = "text">
	<br>
	
	Password:
	<br>
	<input name = "password1" type = "password">
	<br><br>
	<input class = "btn btn-primary" type="submit" value = "Login!">

</form>
<br><br>

{{error}}


{% endif %}
